<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Bio Blazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <!-- W tym miejscu wstawiamy iframe, który załaduje stronę HTMLBIOPAGE -->
    <iframe src="HTMLBIOPAGE.html" style="width: 100%; height: 100vh; border: none;"></iframe>

    <!-- Kod Blazora zostaje wczytany, ale strona HTMLBIOPAGE ładuje się jako pierwsza -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

